h1{
    color:green;
}
ul{
    list-style-type:none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
a{
    color: white;
}
#logo img{
    width: 100px;
    margin-left: 20px;
}
nav{
    display: flex !important;
    /* background-color: rgb(136, 136, 18); */
    width: 100%;
    margin-top: 10px !important;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
header{
    background-color: rgb(62, 15, 9);
    padding: 10px !important;
    min-height: 6vh;
    position: fixed;
    wi
}

#hero{ 
    background: url("photo\ acceuil.jpg");
    min-height: 96vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-profil{ 
    background: url("photo\ profil.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-competences{ 
    background: url("photo\ competence.avif");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-projets{ 
    background: url("photo\ projets.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-contact{ 
    background: url("photo\ contact.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h2{
    color:red;
    font-size: 100px;
    text-shadow: rgb(0, 255, 68) 1px 0 10px;
    margin-left: 100px;
}
p{
    color: pink;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
    font-size: 45px;
    margin-top: 50px;
    padding: 5px;
    margin-left: 30px;
}
#icone-mail img{
    width: 130px;
    margin-left:1608px;
    margin-top: 180px;
}
#icone-git img{
    width: 130px;
    margin-left: 150px;
    margin-top: -75px;
}
#icone-in img{
    width: 130px;
    margin-left: 1688px;
    margin-top: 150px;
}
#onepiece img{
    width: 450px;
    margin-left: 150px;
    margin-top: 50px;
}
#naruto img{
    width: 500px;
    margin-left: 1250px;
    margin-top: 10px;
}
#dragonball img{
    width: 450px;
    margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.bienvenue{
    margin: 0px;
    color: yellow;
    text-shadow: rgba(255, 0, 195, 0.92) 1px 0 10px;
    font-size: 50px;
    margin-left: 15px;
}
h{
    font-size: 150px;
}
p1{
    font-size: 90px;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #131416;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
}
a1{
    color: white;
    font-family: Arial, sans-serif;
    background: black;
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #892cdc;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: 400;
    z-index: 0;
    position: relative;  
}
a1::before{
    content:'';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #892cdc;
    border-radius: 50% 50% 0 0;
    transition: all .5s;
    z-index:  -1;
} 
a1:hover::before{
    top: 0;
    border-radius: 0;
} */

main{
    display: flex;
    min-height: 90vh;
    width: 100%;
    align-items: flex-end;
    align-items: center;
    justify-content: center;

}

.imgcompet{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    
}

#CV{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}
#CV img{
    width: 100px;
}
#imgcompet img{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:50px ;
    margin-right:20px ;
    
}