h1{
    color:green;
}
ul{
    list-style-type:none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
a{
    color: white;
}
#logo img{
    width: 100px;
    margin-left: 20px;
}
nav{
    display: flex !important;
    /* background-color: rgb(136, 136, 18); */
    width: 100%;
    margin-top: 10px !important;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
header{
    background-color: rgb(62, 15, 9);
    padding: 10px !important;
    min-height:6vh;
}

#hero{ 
    background: url("photo\ acceuil.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-profil{ 
    background: url("photo\ profil.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-competences{ 
    background: url("photo\ competence.avif");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-contact{ 
    background: url("photo\ contact.jpg");
    min-height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h2{
    color:red;
    font-size: 100px;
    text-shadow: rgb(0, 255, 68) 1px 0 10px;
}
p{
    color: pink;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
    font-size: 25px;
    margin-top: 50px;
    padding: 5px;
}
#icone-mail img{
    width: 80px;
    margin-left:988px;
    margin-top: 180px;
}
#icone-git img{
    width: 80px;
    margin-left: 90px;
}
#icone-in img{
    width: 80px;
    margin-left: 988px;
    margin-top: 210px;
}
#onepiece img{
    width: 450px;
    margin-left: 150px;
    margin-top: 50px;
}
#naruto img{
    width: 450px;
    margin-left: 750px;
    margin-top: 90px;
}
#dragonball img{
    width: 450px;
    margin-left: 180px;
    margin-top: 10px;
}
.bienvenue{
    margin: 0px;
    color: yellow;
    text-shadow: rgba(255, 0, 195, 0.92) 1px 0 10px;
    font-size: 50px;
}
h{
    font-size: 150px;
}